@import url(https://fonts.googleapis.com/css?family=Nunito);.modal-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1051;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.select-field-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1052;
  background-color: rgba(0, 0, 0, 0.1);
}

.select-field-list {
  position: relative;
  z-index: 1054 !important;
}

#editor {
  width: 100%;
  height: 100%;
}

